@model Bank
<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <div class="carousel-item active">
                <div class="carousel-container mb-5">
            
                     <form asp-controller="Account" asp-action="Nuban" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <input asp-for="BankCode" type="number" placeholder="Enter Bank Code" class="form__field" required />
                            <span asp-validation-for="BankCode" style="color:red;">@*@TempData["info"]*@</span>
                        </div>
                        <br />
                        <div>
                            <input asp-for="SerialNo" type="number" placeholder="Enter Serial Number" class="form__field" required />
                            <span asp-validation-for="BankCode"></span>
                        </div>
                        <br />
                        <div>
                            <button type="submit" class="btn-get-started animate__animated animate__fadeInUp scrollto"> Generate </button>

                        </div>
                        <br />
                        <div>
                            <input asp-for="@ViewData["nuban"]" placeholder="Generated Nuban" class="form__fieldd" type="text" />
                        </div>
                     </form>

  
                </div>
            </div>
    </div>


    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
      </g>
    </svg>
  </section>